<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841472904166-ng0ctcnrn68qj37cbj6m0pur21r1g53k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841472904166-ng0ctcnrn68qj37cbj6m0pur21r1g53k</string>
	<key>API_KEY</key>
	<string>AIzaSyDSLQDA6f4gy2NzA7qL9iCIjgzlXdMTx6E</string>
	<key>GCM_SENDER_ID</key>
	<string>841472904166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afofa</string>
	<key>PROJECT_ID</key>
	<string>afofacrowdfundingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>afofacrowdfundingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841472904166:ios:ca85a5f89558ee42c82427</string>
</dict>
</plist>